spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/brewnote
    username: brewnote
    password: brewnote

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true

logging:
  level:
    org.flywaydb: debug